{% extends 'base.html' %}

{% block content %}
    <h1>About</h1>
    {{request.user.is_login}}
    <p>Welcome from about page</p>
    <p>
        {{ my_text }}, {{ my_number}}
        {{ my_list }}, {{ my_number}}
    </p>

<ul>
    <li>Item 1</li>
    <li>Item 2</li>
</ul>

<ul>
    {% for abc in my_list %}
        {% if abc == 312 %}
            <li>{{ forloop.counter }}  - {{ abc|add:100 }}</li>
        {% elif abc == 'abc' %}
            <li>This is not the network</li>
        {% else %}
            <li>{{ forloop.counter }} - {{ abc }}</li>
        {% endif %}
    {% endfor %}
</ul>
{% endblock %}